	/* GLOBAL STYLES
	-------------------------------------------------- */
	/* Padding below the footer and lighter body text */
	body {
		padding-bottom: 40px;
		color: #5a5a5a;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#FBFDFF),
			to(#eee));
		font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,SimHei ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
	}
	
	/* CUSTOMIZE THE NAVBAR
	-------------------------------------------------- */
.border0{
	border:0px;
}

.opacity{
	background-color: rgba(128, 128, 128, 0.33);
}


	#more {
		float: right;
		font-size: 20px;
		cursor:pointer;
	}
	
	#more .a {
		color: FB73FF;
	}
	
	/* Special class on .container surrounding .navbar, used for positioning it into place. */
	#jumbotronNotEnd {
		margin-top: 100px;
		background-color: #abceac;
		/* background-image: url(../img/light.jpg); */	
		min-height: 420px;
		margin-bottom: 40px;
	}
	
	#jumbotronGrade {
		/* background-image: url(../img/lonely.jpg); */
		background-color: #114c8f;
		color: white;
		/* 	float:right; */
		min-height: 420px;
		margin-bottom: 40px;
	}
	
	#jumbotronAlone {
		background-image: url(../img/notAlone.jpg);
		background-repeat: no-repeat;
		background-position-x: 50%;
		min-height: 450px;
		background-size: 70%;
		background-color: #9FC0D2;
		margin-bottom: 40px;
	}
	
	#isJoin {
		padding-top: 100px;
		text-align: center;
	}
	
	#jumbotronClass {
		text-align: center;
	}
	
	#jumbotronClass h3 {
		margin: 30px;
	}
	
	#jumbotronClass li {
		list-style-type: none;
		margin-bottom: 8px;
	}
	
	#deviceRequired li {
		margin-bottom: 10px;
		list-style-position: inside;
		list-style-type: circle;
	}
	
	#deviceRequired {
		text-align: center;
	}
	
	#deviceRequired h3 {
		margin: 30px;
	}
	/* Page: Part Two */
	#jumbotronlauguage {
		margin-top: 100px;
		background-color: #c88541;
		min-height: 420px;
		color: white;
		margin-bottom: 40px;
	}
	
	#jumbotronGuide {
		/* background-image: url(../img/6368447587_952af5941b_b.jpg);
	 */	background-color: #d4cbaa;
		color: black;
		/* 	float:right; */
		min-height: 420px;
		margin-bottom: 40px;
	}
	/* Page: Part Two END*/
	/* Page: Part Thr */
	#jumbotronService {
		/* background-image: url(../img/education2.jpg); */
		background-color: #0f060b;
		color: white;
		margin-top: 5%;
		min-height: 420px;
		margin-bottom: 40px;
	}
	/* Page: Part Thr END*/
	
	/*Page: About Us */
	#backgroundAboutUs{
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url(../img/bg.jpg);
	}

	#campusBrand {
		width: 100%;
		position: relative;
		top:150px;
		left:0;
		right:0;
		/* max-width :1920px; */
	}

	#campusBrand img{
		width: 600px;
		height: auto;
		margin: 0px auto;

	}
	
	#description {
		height: 58%;
		width: 780px;
		/* color: black; */
	}
	
	#teacher{
		max-width:100%;
		top: 230px;
		left: 0px;
		right: 0px;
		position: relative;
		margin: 0px;
	}

	#teacher1{
		width: 100%;
		height: 430px;
		background-image: url(../img/teacher1.jpg);
		position: relative;
		margin: 0px;
		margin-bottom: 100px;
	}

	.glass{
		position: relative;
		margin-top: -200px;
		background-image: url(../img/glass.png);
		height: 300px;
		width: 800px;
		margin-left: 40%;
		border-radius: 10px;
	}

	.teachertext{
		color: white;
		font-size: 12pt;
		margin-top: 40px;
		margin-left: 20px;
		position: absolute;
	}

	.teachertext p{
		margin: 0px;
		margin-bottom: 5px;
	}

	#teacher2{
		background-image: url(../img/teacher2.jpg);
		width: 100%;
		height: 430px;
		position: relative;
		margin: 0px;
		margin-bottom: 100px;
	}
	
	#teacher3{
		background-image: url(../img/teacher3.jpg);
		width: 100%;
		height: 430px;
		position: relative;
		margin: 0px;
	}
	.teacherdiv{
		margin-top: 100px;
		margin-left: 30%;		
	}
	.teacheravatar{
		height: 130px;
		width: 130px;

	}
	
	.teachername {
		width: 165px;
		margin-top: 20px;
		font-size:16pt;
		margin-left: -30px;
		color: white;
		border-radius: 5px;
		padding-left: 9px;
	}
	
	/*Page: About Us End*/
	
	/* Page£ºJoin Us */
	#tableApply {
		width:770px;
		text-align:left;
		margin:0px auto;
		font-size:20px;
		font-family:inherit;
	}
	#tableApply ul{
		padding:0px;
	}
	#tableApply table{
		width:770px;
		margin-bottom:30px;
	}
	#tableApply table tr{
	}
	#tableApply table tr td{
		height:30px;
	}
	
	.border{
		border-radius:20px;
		height:40px;
		margin-bottom:15px;
		color:black;
		padding-left:10px;
	}
	
	#description{
		text-align: left;
		margin: 0px auto;
		font-size:16px;
	}
	
	.blue{
		color:rgb(121, 121, 255);
	}
	
	.red{
		color:rgb(255, 92, 92);
	}
	
	
	.margin-top{
		margin-top:20px;
	}
	/* Page£ºJoin Us END */
	.navbar-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 20;
	}
	
	/* Flip around the padding for proper display in narrow viewports */
	.navbar-wrapper>.container {
		padding-right: 0;
		padding-left: 0;
	}
	
	.navbar-wrapper .navbar {
		padding-right: 15px;
		padding-left: 15px;
	}
	
	.navbar-wrapper .navbar .container {
		width: auto;
	}
	
	/* CUSTOMIZE THE CAROUSEL
	-------------------------------------------------- */
	
	/* Carousel base class */
	.carousel {
		height: 500px;
		margin-bottom: 60px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		z-index: 10;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
		height: 500px;
		background-color: #777;
	}
	
	.carousel-inner>.item>img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 500px;
	}
	
	.input{
	border-radius:20px;
		
	}
	/* MARKETING CONTENT
	-------------------------------------------------- */
	
	/* Center align the text within the three columns below the carousel */
	.marketing .col-lg-4 {
		margin-bottom: 20px;
		text-align: center;
	}
	
	.marketing h2 {
		font-weight: normal;
	}
	
	.marketing .col-lg-4 p {
		margin-right: 10px;
		margin-left: 10px;
	}
	
	/* Featurettes
	------------------------- */
	.featurette-divider {
		margin: 80px 0; /* Space out the Bootstrap <hr> more */
	}
	
	/* Thin out the marketing headings */
	.featurette-heading {
		font-weight: 300;
		line-height: 1;
		letter-spacing: -1px;
	}
	
	/* RESPONSIVE CSS
	-------------------------------------------------- */
	@media ( min-width : 768px) {
		/* Navbar positioning foo */
		.navbar-wrapper {
			margin-top: 20px;
		}
		.navbar-wrapper .container {
			padding-right: 15px;
			padding-left: 15px;
		}
		.navbar-wrapper .navbar {
			padding-right: 0;
			padding-left: 0;
		}
	
		/* The navbar becomes detached from the top, so we round the corners */
		.navbar-wrapper .navbar {
			border-radius: 4px;
		}
	
		/* Bump up size of carousel content */
		.carousel-caption p {
			margin-bottom: 20px;
			font-size: 21px;
			line-height: 1.4;
		}
		.featurette-heading {
			font-size: 50px;
		}
	}
	
	@media ( min-width : 992px) {
		.featurette-heading {
			/* margin-top: 120px; */
			
		}
	}